body {
	background-color: #142028;
	color: #dddddd;
	background-image: url("resources/BackgroundCrosses.png");
	text-align: center;
}

h1, h2, h3, p {
	color: #dddddd;
}

/* Currently unused
.bubble {
	background-color: #162530;
	opacity: 0.95;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
*/

/* Currently unused
.responsive {
  max-width: 100%;
  width: auto;
  height: auto;
}
*/
